.container {
    margin: 0px;
    max-width: 100%;
    font-family: sans-serif;
  }
  
.top-banner {
  margin: 0px;
  max-width: 100%;
  font-family: sans-serif;
  background-color: black;
  height: 300px;
}

.heading {
  color: #737374;
}


.description {
  color: #b6b6b8;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 2px;
}

.nav-link-item {
  padding-right: 5rem;
}

.nav-link-text {
  color: #737373;
}

.site-title {
  font-size: 5rem;
  color: #CFB7BF;
  font-weight: 700;
  margin: 3rem 0;
  margin-bottom: 0px;
}